<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.keith.fyp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission android:name="com.example.keith.fyp.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="com.example.keith.fyp.permission.C2D_MESSAGE" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="android.support.multidex.MultiDexApplication">
        <activity
            android:name=".views.activities.LoginActivity"
            android:label="Pear"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name=".views.activities.PatientActivity"
            android:label="Person Centred Care" />
        <activity
            android:name=".views.activities.DashboardActivity"
            android:label="@string/title_fragment_patientlist">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.SEARCH" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".views.activities.CreatePatientActivity"
            android:label="@string/title_activity_create_patient"
            android:parentActivityName=".views.activities.DashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.activities.DashboardActivity" />
        </activity>
        <activity
            android:name=".views.activities.CreatePatientFormActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_create_patient_form"
            android:parentActivityName=".views.activities.CreatePatientActivity"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.activities.CreatePatientActivity" />
        </activity>
        <activity
            android:name=".views.activities.ViewScheduleActivity"
            android:label="@string/title_activity_view_schedule">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.activities.DashboardActivity" />
        </activity>
        <activity
            android:name=".views.activities.EditScheduleActivity"
            android:label="@string/title_activity_edit_schedule">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.activities.ViewScheduleActivity" />
        </activity>
        <activity
            android:name=".views.activities.ViewPatientActivity"
            android:label="@string/title_activity_view_patient"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.activities.ViewScheduleActivity" />
        </activity>
        <activity
            android:name=".views.activities.ViewPatientFormActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_view_patient_form"
            android:parentActivityName=".views.activities.CreatePatientActivity"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.activities.ViewPatientActivity" />
        </activity>
        <activity
            android:name=".views.activities.NotificationDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_notification_detail">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.activities.DashboardActivity" />
        </activity>
        <activity
            android:name=".views.activities.CareCenterConfigDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_care_center_config_detail">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.activities.DashboardActivity" />
        </activity>
        <activity
            android:name=".views.activities.OcrReviewActivity"
            android:label="@string/title_activity_capture_image_ocr">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.activities.CreatePatientActivity" />
        </activity>
        <activity
            android:name=".views.activities.SettingsActivity"
            android:label="testingOut">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.activities.SettingsActivity" />
        </activity>
        <receiver android:name=".broadcastreceiver.SBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!--<action android:name="com.google.android.c2dm.intent.REGISTRATION" />-->
                <category android:name="com.example.keith.fyp" />
            </intent-filter>
        </receiver>
        <service android:name=".broadcastreceiver.GCMIntentService" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
