<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.keith.fyp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Pear"
        android:theme="@style/AppTheme">
        <activity
            android:name=".views.Login"
            android:label="Pear"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.Patient"
            android:label="Person Centred Care"></activity>
    </application>

</manifest>
